---
import { useSanityClient } from "astro-sanity";
import { urlForImage } from "../../sanity/urlForImage";

export async function allPosts() {
  const client = useSanityClient();
  const query = `*[_type=="post"] | order(_createdAt desc)[0..1]{...,author->{...}}{...,category->{...}} `;
  const posts = await client.fetch(query);
  return posts;
}

export async function getStaticPaths() {
  const allBlogPosts = await allPosts();

  return allBlogPosts.map((post: any) => ({
    params: { slug: post.slug.current },
    props: { post },
  }));
}

const posts = await allPosts();
---

{
  posts.map((post: any) => (
    <ul class="flex w-full space-y-8">
      <li class="flex md:flex-row w-full lg:flex-col mb-8 lg:mb-4">
        <img
          src={urlForImage(post.mainImage).url()}
          class="w-1/2 pr-4 lg:pr-0 lg:pb-2 lg:w-full object-cover h-full lg:h-48"
          alt="main-image"
        />
        <div class="flex-grow flex flex-col">
          <a
            href={`/articles/posts/${post.slug.current}`}
            class="w-4/5 pb-2 font-sans lead text-white font-extrabold text-xl md:text-xl hover:underline drop-shadow-lg "
          >
            {post.title}
          </a>

          <p class="text-gray-400 font-mono text-sm pb-4">{post.summary}</p>
        </div>
      </li>
    </ul>
  ))
}
<style>
  .lead {
    line-height: 1.2em;
  }
</style>
