---
import '@fontsource/rajdhani/400.css'
import '@fontsource/rajdhani/700.css'
import { Image } from 'astro:assets'
import { getSanityImageURL } from '../../lib/helpers.js'

const { posts } = Astro.props
---

<div class="w-full lg:w-1/4">
  <ul class="w-full h-auto grid grid-cols-1 gap-2 p-2 flex-wrap">
    {
      posts &&
        posts.map((post: any) => (
          <a href={`/posts/${post.slug?.current}`}>
            <div class="flex flex-wrap p-2 w-full border-b-2 mb-2 border-gray-300 ">
              {post?.image && (
                <div class="flex group overflow-hidden w-full h-48">
                  <Image
                    src={getSanityImageURL(post?.image).url()}
                    alt="this"
                    width={1000}
                    height={1000}
                    format="webp"
                    class="object-cover transform transition-transform duration-300 w-full h-full group-hover:scale-105"
                  />
                </div>
              )}

              <div class="w-full mb-2">
                <div class="flex p-1" />
                <h2 class="p-1 text-2xl uppercase leading-none text-black scramble-title">
                  {post.title}
                </h2>
                <p class="p-1 excerpt-clamp text-lg mb-4 text-gray-700 ">
                  {post.excerpt}
                </p>
              </div>
            </div>
          </a>
        ))
    }
  </ul>
</div>

<style>
  h2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
  p {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
  }
  .excerpt-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    max-height: 4em;
  }
</style>
