---
import Layout from '../../layouts/Layout.astro'
import { getLibrary, getCategory } from '../../lib/api.js'
import Scene from '../../components/library/Scene'

export async function getStaticPaths() {
  const category = await getCategory()

  return category.map((category: any) => ({
    params: { slug: category.slug.current },
    props: { category },
  }))
}
const { category = {} as any } = Astro.props
---
<Layout title="Reality Designers">
  <main class="w-screen h-screen bg-gray-200">

    <Scene category={category} client:load />
  </main>
</Layout>

