---
import LandingPage from "../../layouts/landingPage.astro";
import Spirituality from "../../components/library/Spirituality.astro";
---

<LandingPage>
  <main>
    <Spirituality />
  </main>
</LandingPage>
