{
   "printWidth": 400,
   "trailingComma": "all",
   "singleQuote": true,
   "tabWidth": 3,
   "semi": true,
   "jsxSingleQuote": false,
   "quoteProps": "as-needed",
   "bracketSpacing": true,
   "jsxBracketSameLine": false,
   "arrowParens": "avoid",
   "plugins": ["prettier-plugin-astro"],
   "overrides": [
      {
         "files": "*.astro",
         "options": {
            "parser": "astro"
         }
      },
      {
         "files": ["*.jsx", "*.tsx"]
      }
   ]
}
