---
---

<div class="AuthorCard-Wrapper">
  <div class="AuthorCard-Content">
    <h3>Raymond</h3>
    <p>
      Raymond is a multi-disciplinary designer, living in San Diego, CA. On a
      typical day he can be found skateboarding, at the beach, day trading, or
      writing articles and making content for Reality Designers.
    </p>
  </div>
</div>

<style>
  .AuthorCard-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #000000;
    margin-top: 10vw;
  }

  .AuthorCard-Content {
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    background-color: white;
    padding: 5vw;
    border-radius: 2em;
  }

  .AuthorCard-Content p {
    font-size: 1.2rem;
    line-height: 1.5em;
    font-family: "Popins", sans-serif;
    font-weight: 500;
    color: #000000;
    margin: 0;
  }

  h3 {
    font-size: 2.2rem;
    line-height: 1.3em;
    font-family: "Popins", sans-serif;
    font-weight: 800;
    color: #000000;
    margin: 0;
  }
</style>
