---
import logo from "../images/white-logo.gif";
---

<div class="Footer-Wrapper">
  <div class="FooterBrand-Wrapper">
    <div class="FooterBrand-Content">
      <img class="Footer-Logo" src={logo} alt="logo" />
      <a class="Brand-Link" href="/">REALITY DESIGNERS</a>
    </div>
  </div>
  <div class="FooterLinks-Wrapper">
    <div class="FooterLinks-Content">
      <a class="Footer-Links" href="/">Index</a>
      <p class="break-yellow">/</p>
      <a class="Footer-Links" href="/blog">Blog</a>
      <p class="break-yellow">/</p>
      <a class="Footer-Links" href="/about">About</a>
      <p class="break-yellow">/</p>
      <a class="Footer-Links" href="/portal">Portal</a>
      <p class="break-yellow">/</p>
      <a class="Footer-Links" href="/changes">Changes</a>
      <p class="break-yellow">/</p>
      <a class="Footer-Links" href="/journeys">Journeys</a>
      <p class="break-yellow">/</p>
      <a class="Footer-Links" href="/contribute">Contribute</a>
    </div>
    <div class="FooterTerms-Content">
      <a class="FooterTerms" href="/privacy-notice">PRIVACY NOTICE</a>
      <p class="break-red">/</p>
      <a class="FooterTerms" href="/">TERMS OF USE</a>
      <p class="break-red">/</p>
      <a class="FooterTerms" href="/">COOKIE POLICY</a>
      <p class="break-red">/</p>
      <a class="FooterTerms" href="/">CONTACT</a>
      <p class="break-red">/</p>
      <a class="FooterTerms" href="/">COMMUNITY GUIDELINES</a>
      <p class="break-red">/</p>
      <a class="FooterTerms" href="/">ABOUT</a>
      <p class="break-red">/</p>
      <a class="FooterTerms" href="/sitemap">SITEMAP</a>
      <p class="break-red">/</p>
    </div>
  </div>
</div>

<style>
  .Footer-Wrapper {
    display: block;
    width: 100vw;
    height: auto;
    background-color: rgb(0, 0, 0);
  }
  .FooterBrand-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .FooterBrand-Content {
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Footer-Logo {
    width: 100px;
    height: 100px;
  }
  .Brand-Link {
    font-size: 3em;
    line-height: 1em;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
  }
  .FooterLinks-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  .FooterLinks-Content {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 25px;
  }

  .Footer-Links {
    font-size: 1em;
    line-height: 25px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .FooterTerms-Content {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 25px;
  }
  .FooterTerms {
    font-size: 0.8em;
    line-height: 25px;
    font-weight: 500;
    color: rgb(200, 200, 200);
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  h4 {
    font-size: 1.1em;
    line-height: 1em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
  }
  a {
    font-family: "Poppins", sans-serif;
  }
  .break-red {
    color: rgb(255, 0, 0);
    line-height: 0em;
  }
  .break-yellow {
    color: rgb(255, 255, 0);
    line-height: 0em;
  }
</style>
