---
import Navbar from '../components/navigation/Navbar.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      window.va =
        window.va ||
        function () {
          ;(window.vaq = window.vaq || []).push(arguments)
        }
    </script>
    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@0.9.434/build/spline-viewer.js"
    ></script>
  </head>
  <body class="bg-black">
    <Navbar />
    <slot />
  </body>
</html>
