---
import NavInternalWorld from "../../components/navigation/NavInternalWorld.astro";
---

<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <title>WE BUILD WORLDS IN MINDS | REALITY DESIGNERS</title>
</head>

<main>
  <NavInternalWorld />
  <div class="w-full h-screen bg-slate-100">
    <iframe
      src="https://my.spline.design/internalworld-19e8bb1ead2dfd1bebfcfe55478c3cca/"
      class="w-full h-screen ifa"></iframe>

    <div class="flex flex-col pt-96 relative items-center ifs">
      <h1 class="text-6xl lg:text-7xl font-mono text-black font-bold">
        INTERNAL
      </h1>
      <h1 class="text-8xl lg:text-9xl font-mono text-black font-bold">WORLD</h1>
      <div class="w-2/3 lg:w-1/4 flex-col items-center mt-4">
        <h2 class="text-2xl font-mono text-black font-semibold text-center">
          A Systematic Approach To Self-Actualization
        </h2>
      </div>
    </div>
  </div>
</main>

<style>
  :root {
  }
  body {
    background-color: rgb(0, 0, 0);
    margin: 0;
  }
  main {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .ifa {
    z-index: 0;
    position: absolute;
  }
  .ifs {
    position: relative;
    z-index: 1;
  }
</style>
