---
import LandingPage from "../layouts/landingPage.astro";
import Banner from "../components/landingPage/Banner.astro";
---

<LandingPage>
  <main>
    <Banner />
    <div class="w-full flex justify-center">
      <div class="w-11/12 xl:w-3/4">
        <h1 class="text-3xl text-white font-poppins font-bold my-8">
          We're making worlds of consciousness you can explore
        </h1>
        <h1 class="text-2xl text-white font-poppins font-bold mt-20 mb-2">
          What's Is Reality Designers?
        </h1>
        <p class="text-xl text-white font-mono">
          What's our why?<br /><br /> Where are we going? <br /><br />What are
          we doing? What's the purpose? <br /><br />What are we trying to
          accomplish? <br /><br />Who are we?<br /><br />These are the questions
          we all have had at some point in time, right? Maybe you are having
          these thoughts about our your own life right now. That's why we exist.<br
          /><br />Our fundament goal is to approach questions of this nature and
          continuously provide solutions that can create impact - individually,
          and collectively.
        </p>
        <h1 class="text-3xl text-white font-poppins font-bold mt-20 mb-2">
          Who Are We?
        </h1>
        <p class="text-xl text-white font-mono">
          We are a small group of individuals, mostly faceless, nameless, not
          easily categorizable, nor adhering to any main philosophy or
          overarching belief system other than that we believe humans can do
          better, if directed first to understand themselves before approaching
          to find solutions in the external world. <br /><br />
          We're dreamers, developers, healers, engineers, realists, and everyday
          common people guided by the truth and carrying a willingness to one universal
          purpose - Design A Reality That Benefits All Involved.<br /><br />We
          are the voice for the people interweaved within the fabric of society
          which largely go unnoticed, and we come with the purpose of
          understanding and reading the subtle terrain of the ever-changing
          environment and needs of our society. We're here to dynamically guide
          and curate our future leaders and initiate and direct movements
          forward that benefit larger goals beyond profit and gain, power or
          pleasure, or what is trendy and new.<br /><br />Our currency is energy
          - it always has been, some of us has known this for a long time, and
          some of us are now remembering.<br /><br />We're here to help humanity
          recollect this fact by creating resources and making universal maps of
          understanding so that we may all exist on the same page, so we can
          design a new timeline.
        </p>
        <h1 class="text-6xl text-white font-poppins font-bold mt-20 mb-2">
          We Believe Humanity Is In Need Of An Upgrade.
        </h1>
        <h1 class="text-3xl text-white font-poppins font-bold mt-20 mb-2">
          What If?
        </h1>
        <p class="text-xl text-white font-mono">
          What is there was a network of people contributing to a growing
          repository of knowledge and building a living documentation about
          Reality itself? - offered to us with the main objective of exploring
          and discovering the truth of experience and self-actualization?<br
          /><br />What if it was more than that? What if the purpose of it was
          to design a map back to ourselves in a way that unlocks our full
          potential - the way this was achieved was through universal adoption
          of agreed upon and accepted ways of being with methods of human and
          reality operation?<br /><br />What if it wasn't rigid, dogmatic, or
          with crazy rules that kept our psychological structures in a box, but
          actually allowed us to feel free and more accepting and understanding
          of ourselves and each-other while at the same time, incentivizing us
          to uphold standards that have been proven to be beneficial to
          ourselves, and create harmony in the world?<br /><br />What if the new
          language we constructed was a living syntax for creating dynamic
          formulas that allowed us to universally understand the relationships
          between objects, without emotional based reactivity?<br /><br />What
          if learning about the world we all live in, was exciting? Instead of
          inventing new ways to escape our lives with social media, what if we
          created students whose occupation was studying life, and what was most
          important to them?<br /><br /> What if we believed our younger generations
          and what they had to say? <br /><br />traditional life paths, and gave
          our youth a productive identity that helped them step into their gifts
          and connect with others who share the same capacity?
        </p>
        <h1 class="text-5xl text-white font-poppins font-bold mt-20 mb-2">
          We make interactive maps, tools, and share resources so we can build a
          better world.
        </h1>
        <h1 class="text-4=3xl text-white font-poppins font-bold mt-20 mb-2">
          Where We're Going
        </h1>
        <p class="text-xl text-white font-mono">
          More than ever we all can feel a collective closeness to one another,
          while simultaneously feeling farther and farther away, separated by
          ideas and beliefs that we wouldn't otherwise try to interpret if we
          weren't told to.<br /><br />There is a wall between us and it's
          completely invisible, fully perceptual, and it's growing day by day<br
          /><br />Our overall mentality towards solving the issues we face today
          first begins with finding solutions towards completing ourselves
          before approaching the world with great ideas. We fundamentally
          believe that when Humans are in alignment with themselves, then they
          find it with one another - and when we're aligned in that way, the
          majority of issues become trivial as most issues we face today are a
          combination of misrepresented points of view and misunderstood value
          systems.
        </p>
        <h1 class="text-5xl text-white font-poppins font-bold mt-20 mb-2">
          Our Values
        </h1>
        <p class="text-xl text-white font-mono">
          Within the very genetic structure of our being is a quality to our
          nature that is in search for something more, a connection greater.
          Fundamentally, embedded within our DNA is a desire for purpose, and
          meaning. We're looking for something?<br /><br />Philosophers called
          it The Mystery Energy Healers called it Ether Religionists called it
          God Ancients called it Maya Spirituality calls it the Universe<br
          /><br />Most of the disagreements amongst cultures is in the
          differences between how language contextualizes the perceived best
          mode of action towards connecting with this something greater.<br
          /><br />It's a strange irony in that we can assume our individual
          ideas must fit perfectly for someone else irregardless of the stage of
          life they're in.<br /><br />From a historical perspective, this
          usually has never been a method that improves civilizations - it
          destroys it.<br /><br />We also recognize that our geographical
          location and the area we live will determine the core assets we
          accumulate which we use to build the components of what our own theme
          of what ideal spiritual living looks like. Our essential approach is
          that we do not aim to force perspectives or realms of thought on any
          individual.<br /><br />The integrity of each person, adjusted for
          their sentient nature, and freedom and ability to create any
          perception within any domain for any reason is the only foundational
          view we wish for everyone to adopt as a basis for operation.It is our
          primary goal to offer an opportunity to see into the quantum
          information highway we are assembling. <br /><br />At Reality
          Designers, our main vision is to create a universal language of
          understanding for the invisible constructs and principles we're all
          interacting with in our daily lives, and use this map to communicate
          to the world more effectively what the next steps are that we can take
          to improve the structures of society.
        </p>
        <h1 class="text-5xl text-white font-poppins font-bold mt-20 mb-2">
          Our Goals
        </h1>
        <h1 class="text-3xl text-white font-poppins font-bold mb-2">
          We believe that collectively we can design a better reality
        </h1>
      </div>
    </div>
  </main>
</LandingPage>
