---
import LandingPage from "../layouts/landingPage.astro";
import BlogVideo from "../components/BlogVideo.astro";
import BlogLayout from "../layouts/BlogLayout.astro";
---

<LandingPage>
  <main>
    <div class="flex w-full h-screen"><BlogVideo /></div>
    <BlogLayout />
  </main>
</LandingPage>
