---
import Article from '../components/feed/Article.astro';
import Img from '../components/feed/Img.astro';
import Post from '../components/feed/Post.astro';
import Post2 from '../components/feed/Post2.astro';
import Quote from '../components/feed/Quote.astro';
import Layout from '../layouts/Layout.astro';
import { getArticle, getImg, getPosts, getQuote } from '../lib/api.js';

const posts = await getPosts();
const img = await getImg();
const quote = await getQuote();
const posts2 = await getPosts();
---

<Layout title="Reality Designers">
   <main class="bg-gray-200 grid grid-cols p-0 lg:p-20 pt-16 md:grid-cols-2 lg:grid-cols-3 wrap w-full h-auto justify-center">
      <Post posts={posts} />
      <Img img={img} />
      <Quote quote={quote} />
   </main>
</Layout>
