---
import LeftSidePosts from '../components/blog/LeftSidePosts.astro'
import MainPost from '../components/blog/MainPost.astro'
import RightSidePosts from '../components/blog/RightSidePosts.astro'
import Layout from '../layouts/Layout.astro'
import {
  getLeftSideBarPosts,
  getMainPost,
  getRightSideBarPosts,
} from '../lib/api.js'
import '@fontsource-variable/jetbrains-mono'

const post = await getMainPost()
const sideposts = await getRightSideBarPosts()
const leftposts = await getLeftSideBarPosts()
---

<Layout title="Reality Designers">
  <main
    class="flex flex-wrap w-screen h-auto justify-center bg-gray-200 pt-20 p-2 lg:p-12 lg:pt-28"
  >
    <LeftSidePosts posts={leftposts} />
    <MainPost post={post} />
    <RightSidePosts posts={sideposts} />
  </main>
</Layout>

<style>
  .dud {
    color: transparent;
    transition: color 0.3s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .animate-fadeIn {
    animation: fadeIn 0.7s forwards;
  }
</style>

<script>
  import TextScrambler from '../components/global/effects/TextScrambler'

  function scrambleText() {
    const titles = document.querySelectorAll('.scramble-title')
    const excerpts = document.querySelectorAll('.scramble-excerpt')

    titles.forEach((title) => {
      const scrambler = new TextScrambler(title)
      scrambler.setText(title.textContent)
    })

    excerpts.forEach((excerpt) => {
      const scrambler = new TextScrambler(excerpt)
      scrambler.setText(excerpt.textContent)
    })
  }

  document.addEventListener('DOMContentLoaded', scrambleText)
</script>
