---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Reality Designers">
  <main
    class="flex items-center w-screen h-screen justify-center bg-black overflow-hidden"
  >
    <div class="text-center p-6 max-w-lg">
      <h2 class="text-red-500 transform scale-105 opacity-90 animate-pulse">
        We're Not A Design Business
      </h2>
      <h2 class="text-blue-500 transform -skew-y-6 animate-wiggle">
        We're Not Trying To Sell You Anything
      </h2>
      <h2 class="text-yellow-500 transform scale-105 opacity-90 animate-pulse">
        We Don’t Care About Likes or Views
      </h2>
      <h2 class="text-green-500 transform rotate-3">We Don’t Follow Trends</h2>
      <h2 class="text-pink-500 transform scale-95">
        We're Not Here To Impress
      </h2>
      <h2 class="text-indigo-500 transform -skew-y-6 animate-wiggle">
        We Don’t Care About Going Viral
      </h2>
      <h2 class="text-red-500 transform rotate-3">We Are Reality Designers</h2>
    </div>
  </main>

  <style>
    h2 {
      font-family: 'Rajdhani', sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      transition:
        transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
    }

    @keyframes wiggle {
      0%,
      100% {
        transform: skewY(-6deg);
      }

      50% {
        transform: skewY(6deg);
      }
    }

    .animate-wiggle {
      animation: wiggle 1s ease-in-out infinite;
    }
  </style>
</Layout>
