---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Reality Designers">
  <main
    class="flex items-center w-screen h-screen justify-center bg-black overflow-hidden"
  >
  </main>

  <style>
    h2 {
      font-family: 'Rajdhani', sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      transition:
        transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
    }
  </style>
</Layout>
