---
import Fiber from '../components/three/Fiber.jsx'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Reality Designers">
  <main class="w-screen h-screen">
    <spline-viewer
      url="https://prod.spline.design/kGZDXf93dPh5l-kF/scene.splinecode"
    ></spline-viewer>
  </main>
</Layout>
