---
import Scene from '../components/internalworld/Scene.jsx';
import Layout from '../layouts/Layout.astro';
import { getModules } from '../lib/api.js';

const category = await getModules();
---

<Layout title="Reality Designers">
   <main class="w-screen h-screen">
      <Scene category={category} client:load />
   </main>
</Layout>
