---
import LibraryLayout from '../layouts/LibraryLayout.astro'
import { getCategory } from '../lib/api.js'
import LibraryScene from '../components/library/LibraryScene.jsx'

const category = await getCategory()
---
<LibraryLayout title="Reality Designers">
  <div class="w-screen h-screen bg-black">

    <LibraryScene category={category} client:load />
  </div>
</LibraryLayout>
