---
import Layout from '../layouts/Layout.astro'
import { getCategory } from '../lib/api.js'
import Scene from '../components/library/Scene'

const category = await getCategory()
---


  <main class="w-screen h-screen bg-black">
    <Scene category={category} client:load />
  </main>

