---
import Layout from '../layouts/Layout.astro'
import { getLibrary } from '../lib/api.js'
import LibraryScene from '../components/library/LibraryScene.jsx'

const library = await getLibrary()
---
<Layout title="Reality Designers">
  <main class="w-screen h-screen bg-gray-200">
    <LibraryScene library={library} client:load />
  </main>
</Layout>
