---
import Layout from '../layouts/Layout.astro'
import { getLibrary } from '../lib/api.js'
import MainScene from '../components/library/MainScene'

const library = await getLibrary()
---
<Layout title="Reality Designers">
  <main class="w-screen h-screen bg-black">
    <MainScene library={library} client:load />
  </main>
</Layout>
