---
import NavMain from "../components/navigation/NavMain.astro";
import LibraryScene from "../components/LibraryScene.astro";
---

<main class="bg-black w-screen min-h-screen">
  <NavMain />
  <LibraryScene />
</main>
