---
import NavMain from "../components/navigation/NavMain.astro";
---

<main class="bg-black w-full h-screen">
  <NavMain />
  <div class="flex w-full h-screen">
    <iframe
      src="https://my.spline.design/untitled-f867427b4e6fc233f7773226366b1d2f/"
      class="w-full h-screen z-10"></iframe>
  </div>
  <div id="below" class="flex w-full h-screen bg-slate-400"></div>
</main>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
</style>
