---
import NavMain from "../components/navigation/NavMain.astro";
---

<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <title>Reality Designers | Privacy Notice</title>
</head>

<main>
  <NavMain />
  <div class="PrivacyNotice-Wrapper">
    <div class="PrivacyNotice-Content">
      <h1>Privacy Notice</h1>
      Updated and Effective as of August 23, 2022
      <p>
        This privacy notice discloses the privacy practices for
        <a href="https://realitydesigners.app">realitydesigners.app</a>. This
        privacy notice applies solely to information collected by this website.
        It will notify you of the following:
      </p>
      <ul>
        <li>
          What personally identifiable information is collected from you through
          the website, how it is used and with whom it may be shared.
        </li>
        <li>
          What choices are available to you regarding the use of your data.
        </li>
        <li>
          The security procedures in place to protect the misuse of your
          information.
        </li>
        <li>How you can correct any inaccuracies in the information.</li>
      </ul>
      <h2>Information Collection, Use, and Sharing</h2>
      <p>
        We are the sole owners of the information collected on this site. We
        only have access to/collect information that you voluntarily give us via
        email or other direct contact from you. We will not sell or rent this
        information to anyone.
      </p>
      <p>
        We will use your information to respond to you, regarding the reason you
        contacted us. We will not share your information with any third party
        outside of our organization, other than as necessary to fulfill your
        request, e.g. to ship an order.
      </p>
      <p>
        Unless you ask us not to, we may contact you via email in the future to
        tell you about specials, new products or services, or changes to this
        privacy policy.
      </p>
      <h2>Your Access to and Control Over Information</h2>
      <p>
        You may opt out of any future contacts from us at any time. You can do
        the following at any time by contacting us via the email address or
        phone number given on our website:
      </p>
      <ul>
        <li>See what data we have about you, if any.</li>
        <li>Change/correct any data we have about you.</li>
        <li>Have us delete any data we have about you.</li>
        <li>Express any concern you have about our use of your data.</li>
      </ul>
      <h2>Security</h2>

      We take precautions to protect your information.
    </div>
  </div>
</main>

<style>
  :root {
    background-color: rgb(12, 12, 12);
  }
  .PrivacyNotice-Wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .PrivacyNotice-Content {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding-top: 100px;
    flex-wrap: wrap;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.3rem;
    line-height: 1.5em;
  }
  a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 600;
    text-decoration: underline;
  }
  a:hover {
    color: #7386ff;
    text-decoration: none;
    font-weight: 600;
    text-decoration: underline;
  }
  li {
    font-size: 1.1rem;
    line-height: 2em;
  }
</style>
