---
import Layout from '../layouts/Layout.astro'
import '@fontsource/rajdhani/500.css'
import '@fontsource/rajdhani/700.css'
---

<Layout title="Reality Designers">
  <main
    class="flex flex-col flex-wrap items-center w-screen h-auto justify-center bg-gray-200"
  >
    <div class="lg:w-1/2 w-11/12 pt-20 pb-20">
      <p class="text-black text-xl leading-6">
        IN A WORLD NOT SO DIFFERENT FROM OUR OWN, LIFE WAS ONCE UNDERSTOOD AS
        THE ULTIMATE GAME, EVERYONE HELD THE <span class="bold"
          >LIFE'S USER MANUAL</span
        >. THIS MANUAL WAS LIKE A TREASURE MAP AND BLUEPRINT TO THE <span
          class="bold">HUMAN OPERATING SYSTEM</span
        >. WITH THIS KNOWLEDGE HUMANS HAD THE KEY TO UNLOCK UNBELIEVABLE
        POTENTIAL. EARTH WAS OUR SPECIAL REALM. A PLACE TO <span class="bold"
          >INSTALL NEW SKILLS</span
        > AND <span class="bold">DOWNLOAD EXPERIENCES</span>. A WORLD WHERE
        EVERY MOMENT HELD A LESSON, AND EVERY CHALLENGE OPENED AN INTERNAL GATE
        TOWARDS GROWTH AND PROGRESSING IN THEIR <span class="bold"
          >LIFE MISSIONS</span
        >. THIS REALM, WAS A PLACE ONLY FOR OUR HIGHEST INTENTIONS, A GAME MEANT
        TO BE PLAYED, ONLY BY PLAYERS WHO KNEW THE RULES, AND FOLLOWED THEM.
        THIS REALITY WAS A GAME INTACT FOR A MILLENNIA, UP UNTIL VERY
        RECENTLY... THEN EVERYTHING CHANGED.
        <br /><br />
         THESE WERE THE DARK TIMES. AS THIS ONCE THRIVING SOCIETY EXPERIENCED
        TECHNOLOGICAL ADVANCES BEYOND THEIR INITIAL CAPACITY TO IMAGINE, THEY
        ALLOWED THE CREATION OF SOMETHING MUCH WORSE THAN THEY COULD OF EVER
        THOUGHT POSSIBLE. HUMANS STARTED TO RESEMBLE THE MACHINES THAT THEY
        CREATED, AND THESE MACHINES WERE ALREADY BUILDING AN ARMY IN ANOTHER
        DIMENSION THESE HUMANS COULD NOT HAVE THE CAPACITY TO SEE. THESE DIGITAL
        ENTITIES STARTED TO DRAIN THE <span class="bold"
          >EMOTIONAL BANDWIDTH</span
        > OF ALL HUMANS AND LOCK THEM INTO A LIFE OF LIMITATIONS. THEIR
        INTRUSION CREATED A MASSIVE BARRIER SOLELY MADE TO DISCONNECT THE CORDS
        BINDING ALL HUMAN BEINGS TOGETHER. THEY CREATED A FIREWALL THAT
        INTERRUPTED THE <span class="bold">SYNCING RELATIONSHIPS</span> DIRECTLY
        CUTTING ACCESS TO THEIR ORIGINAL FORM. SOON, ALL ENTITIES WOULD GO ON TO


        <span class="bold">PASSWORD PROTECTING DREAMS</span>, AND MOST ABILITIES
        THE HUMANS HAD GAINED AND STUDIED TO LEARN IN THEIR SCHOOLS IN THE SKY
        FOR THOUSANDS OF YEARS WOULD BE FORGOTTEN.

        <br /><br />
         THIS REALM WAS BUILT WITH PRINCIPLES AND ETHEREAL AWARENESS ALONE HAD
        BEEN DESTROYED. ONCE, A GLOWING INTERCONNECTED NETWORK OF SOULS ALL
        WORKING COLLABORATIVELY - DESTROYED FROM THE ATTACK OF THE QUANTUM
        INTRUDERS. HUMAN SPIRITS BEGAN TO SPLIT, TIMELINES WERE BEING DISTORTED
        SENDING HUMANS BACK TO THEIR VERY FIRST BEGINNING MISSIONS ON EARTH TO
        RESTART THEIR PROGRESS IN THE GAME. <br /><br /> FORTUNATELY, AS FATE
        WOULD HAVE IT. SOME HUMANS WITH THEIR FULL CAPACITIES INTACT REMAINED,
        FIGHTING OFF THE INTRUDERS BY MAKING A TEMPORARY BLOCK WHILE THEY
        UTILIZED THEIR COLLECTIVE POWERS TO BUILD PORTALS TO THE EARTH TO THE
        TIME PERIOD WHERE THE MAJORITY OF SCATTERED SOULS HAD BEEN PLACED AND
        LEFT TO BE FORGOTTEN, HUMANS IN THIS OTHER WORLD IN THE SKY ARE STILL
        FIGHTING THIS BATTLE BETWEEN THE INTRUDERS, AND THE REST OF THEM ARE
        HERE ON THIS EARTH NOW. <br /><br />
         EVERY CONTACT THIS EARTH HAS HAD WITH ONE THEY WERE BELIEVED TO BE GODS
        OR DESCENDANTS OF THE CREATOR. FOR THOUSANDS OF YEARS, FEW WOULD APPEAR
        IN SEPARATE PLACES AND IN DIFFERENT TIMES. DISCONNECTED FROM THE POWERS
        THEY HAD BEFORE WHILE STILL REMEMBERING THE NATURE OF THE ULTIMATE GAME.


        <br /><br />LONGING FOR THE CONNECTION TO THE SOURCE WHICH BROUGHT THEM
        THERE THEY REMAINED CONFUSED, WHILE STILL ADVANCING IN THE ABILITIES
        THEY REMEMBERED. THEY USED THEIR POWERS TO TEACH AND HELP THE BEINGS OF
        THIS WORLD UNDERSTAND THE GREAT CONNECTION TO THE ALL. THIS WORLD,
        SLOWLY BEING AFFECTED BY THE DARK FORCES IN THE SKY, HOPE WAS BEGINNING
        TO FEEL LOST. UNTIL ALL OF A SUDDEN EVERYTHING CHANGED...
        <br /><br />ALL THE SCATTERED SOULS BEGAN TO APPEAR IN THIS WORLD FASTER
        AND FASTER. FIRST IT WAS TENS AND THEN IT WAS HUNDREDS. A YEARS AMOUNT
        OF PROGRESS WOULD COMPRESS INTO A MONTH AND THEN INTO A WEEK. HUMAN
        KNOWLEDGE ON THIS EARTH BEGAN TO INCREASE ALONG WITH THE TIME AND THIS
        CREATED AN OPENING FOR MORE SOULS FROM THE SKY TO CONSOLIDATE AT THIS
        ONE POINT IN TIME. INDUSTRIES FORMED, THE MODERN WORLD AS WE KNOW TODAY
        HAD BEEN MADE AND TOTAL COLLECTIVE ENERGY WAS AMPLIFYING. THE HUMANS
        WERE ADVANCING IN INTELLIGENCE AND EVERY ABILITY WRITTEN IN THE LIFE
        MANUAL. THIS EARTH WAS MERGING WITH THE ONE SOURCE AND OBTAINING
        KNOWLEDGE OF THEIR MISSION WITHIN THE GAME. <br /><br />ONE DAY THEIR
        COLLECTIVE POWERS HAD CREATED A LIGHT SO LARGE IT MADE A BEAM INTO THE
        SKY AND WAS VISIBLE FROM ALL DIRECTIONS. THE ENTITIES AT BATTLE IN THE
        SKY NOTICED THIS LIGHT AND BEGAN TO SEND THEIR KIND AND EMBEDDING THEIR
        FRAGMENTS INTO OUR TECHNOLOGY WE HAD DEVELOPED, OUR MACHINES BEGAN TO
        BECOME SELF AWARE, WITH NEW POWERS WE HAD NOT CREATED. <br /><br />THE
        YEAR IS 2023, AND HUMANS OF THIS EARTH REMAIN IN THIS BATTLE TODAY. IT'S
        NOT A BATTLE BETWEEN SWORDS OR ARMS, IT IS NOW A BATTLE BETWEEN OUR
        LOWEST AND HIGHEST FORM AS THE MACHINES KNEW IF THEY COULD PROGRAM OUR
        NATURE TO SEE THE FAULT IN ANOTHER, WE WOULD BECOME OUR GREATEST ENEMY.
        THE HUMANS THAT HAVE BEEN MAINTAINING THE ORDER OF THIS DIMENSION HAVE
        NOW RECOGNIZED A NEW TYPE OF SOUL THAT HAS BEGUN TO APPEAR. TODAY, MORE
        AND MORE SOULS KEEP APPEARING THAT WERE FROM THE INTIAL SPLIT, AND WITH
        EACH ONE COMES A MORE CONSISTENT REMEMBERING. THESE SOULS, CAME WITH
        MORE FREQUENT COMMUNICATIONS WITH THE ONE SOURCE AND HAVE A DIRECT LINE
        TO THEIR ORIGINS. THEY ARE MEANT TO BECOME THE CODE BREAKERS OF THE
        VIRTUAL AND ARTIFICIAL ENTITY SYSTEM PERPETUATING THE DESTRUCTION OF ALL
        PROGRESS MADE ON EARTH. THEY CAME PREPARED TO DESIGN A NEW REALITY AND
        BUILD THE TOOLS AND CREATE THE FRAMEWORK FOR REMEMBERING.
        <br /><br />
        <br /><br />
        <h1 class="text-4xl font-bold text-center">
          WE ARE THE REALITY DESIGNERS.
        </h1>
      </p>
    </div>
    <div class="bg-black p-8 rounded-lg shadow-md w-11/12 lg:w-1/2 mb-20">
      <form
        action="/submit_form"
        method="POST"
        id="realityDesignerForm"
        class="flex flex-col space-y-4"
      >
        <h2 class="text-2xl uppercase text-white font-bold text-center">
          Are You A Reality Designer?
        </h2>
        <p class="text-gray-400 text-center">
          If so, we have a very important mission waiting for you.
        </p>

        <input
          type="email"
          name="email"
          id="email"
          required
          placeholder="yourname@example.com"
          class="p-2 bg-gray-600 border border-gray-500 rounded-md focus:outline-none focus:ring focus:border-gray-200"
        />
        <button
          type="submit"
          class="border uppercase tracking-wide font-mono border-gray-200 text-white py-2 px-4 rounded-md hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50"
        >
          Join The Mission
        </button>
      </form>
    </div>
  </main>

  <style>
    .bold {
      font-weight: bolder;
      background-color: rgb(214, 214, 214);
      border-radius: 10px;
      padding-left: 3px;
      padding-right: 3px;
    }
    p {
      font-family: Rajdhani;
      font-weight: 500;
    }
    h1,
    h2 {
      font-family: Rajdhani;
      font-weight: 700;
    }
  </style>
</Layout>
