---
import TunnelPosts from '../components/three/TunnelPosts.jsx'
import Layout from '../layouts/Layout.astro'
import { getPosts } from '../lib/api.js'

const posts = await getPosts()
---

<Layout title="Reality Designers">
  <main class="w-screen h-screen">
    <TunnelPosts posts={posts} client:load />
  </main>
</Layout>
