---
import NavMain from "../components/navigation/NavMain.astro";
import Banner from "../components/landingPage/Banner.astro";
---

<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <title>ABOUT | REALITY DESIGNERS</title>
</head>

<main>
  <NavMain />
  <div class="flex-col">
    <Banner />
    <div class="flex w-screen p-12 h-full justify-center">
      <div class="w-full lg:w-3/6 bg-black">
        <h1
          class="text-6xl lg:text-4xl leading-none text-white font-sans font-semibold"
        >
          It's Time To Design Reality
        </h1>
        <br />
        <br />
        <p class="text-2xl lg:text-3xl text-white leading-normal font-sans">
          What's our why? Where are we going? What are we doing? What's the
          purpose? What are we trying to accomplish? Who are we?
          <br /><br />These are the questions we all have had at some point in
          time, right? Maybe you are having these thoughts about our your own
          life right now. That's why we exist. Our fundament goal is to approach
          questions of this nature and continuously provide solutions that can
          create impact - individually, and collectively.
        </p>
        <br />
        <br />
        <h3 class="text-white text-4xl font-sans font-semibold">
          So... Who Are We?
        </h3>
        <br />
        <p class="text-2xl lg:text-3xl text-white leading-normal font-sans">
          We are a small group of individuals, mostly faceless, nameless, not
          easily categorizable, nor adhering to any main philosophy or
          overarching belief system other than that we believe humans can do
          better, if directed first to understand themselves before approaching
          to find solutions in the external world.
          <br />
          <br />
          We're dreamers, developers, healers, engineers, realists, and everyday
          common people guided by the truth and carrying a willingness to one universal
          purpose - Design A Reality That Benefits All Involved.
          <br />
          <br />
          We are the voice for the people interweaved within the fabric of society
          which largely go unnoticed, and we come with the purpose of understanding
          and reading the subtle terrain of the ever-changing environment and needs
          of our society.

          <br />
          <br />
          We're here to dynamically guide and curate our future leaders and initiate
          and direct movements forward that benefit larger goals beyond profit and
          gain, power or pleasure, or what is trendy and new. ‍

          <br />
          <br />
          Our currency is energy - it always has been, some of us has known this
          for a long time, and some of us are now remembering. ‍

          <br />
          <br />
          We're here to help humanity recollect this fact by creating resources and
          making universal maps of understanding so that we may all exist on the
          same page, so we can design a new timeline. ‍
        </p>
        <br />
        <br />
        <h3 class="text-white text-4xl font-sans font-semibold">
          So... Who Are We?
        </h3>
        <br />
        <p class="text-2xl lg:text-3xl text-white leading-normal font-sans">
          What is there was a network of people contributing to a growing
          repository of knowledge and building a living documentation about
          Reality itself? - offered to us with the main objective of exploring
          and discovering the truth of experience and self-actualization? ‍
        </p>
      </div>
    </div>
  </div>
</main>

<style>
  :root {
    background-color: rgb(12, 12, 12);
    margin: 0;
  }
  main {
    width: auto;
    height: auto;
    margin: 0;

    background-color: black;
  }
  .test {
    width: 100%;
    height: auto;
  }
  .test {
  }
</style>
