---
const { posts } = Astro.props
---

<ul class="w-full h-auto gap-4 lg:max-h-0 grid grid-cols-1 p-2 flex-wrap">
  {
    posts &&
      posts.map((post: any) => (
        <div class="text-white p-3 w-full border border-gray-200 rounded-xl">
          <div class="flex w-full justify-end">
            <p class="tag tracking-wide uppercase text-emerald-200 flex w-auto p-[.2em] pl-2 pr-2 text-xs backdrop-blur-lg  rounded-2xl border border-emerald-200 bg-emerald-200/20 transition-all duration-300 ease-in hover:bg-emerald-400 hover:border-emerald-400 hover:text-white">
              Post
            </p>
          </div>
          <h2 class="pl-2 pr-2 -mt-2 w-4/5 font-mono text-2xl uppercase leading-none text-white">
            {post.title}
          </h2>
          <p class="p-2 mb-2 leading-6 tracking-wide text-lg  text-gray-400">
            {post.excerpt}
          </p>
          <a class="p-2" href={`/posts/${post.slug?.current}`}>
            <button class="read-button mb-2  text-black bg-white text-sm pr-2 p-1 pl-3 rounded-full">
              Read →
            </button>
          </a>
        </div>
      ))
  }
</ul>

<style>
  h2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
  p {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
  }

  .tag {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 8px;
  }
  .read-button {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
</style>
