---
import '@fontsource/rajdhani/400.css'
import '@fontsource/rajdhani/600.css'
import '@fontsource/rajdhani/700.css'
import { Image } from 'astro:assets'
import { getSanityImageURL } from '../../utils/helpers.js'

const { quote } = Astro.props
---

<ul class="w-full h-auto grid grid-cols-1 p-2 flex-wrap">
  {
    quote &&
      quote.map((post: any) => (
        <div class="text-white relative flex w-full border mb-4 border-gray-200 rounded-xl shadow-lg hover:shadow-xl transition-shadow duration-200 ease-in">
          {post?.mediaRef?.image && (
            <Image
              src={getSanityImageURL(post?.mediaRef?.image).url()}
              alt="Descriptive alt text"
              width={1000}
              height={1000}
              format="webp"
              class="w-full h-full absolute rounded-xl object-cover opacity-25 blur-md"
            />
          )}
          <div class="z-10 p-3">
            <div class="flex w-full justify-end mb-4 z-20">
              <p class="tag tracking-wide uppercase text-pink-200 flex w-auto p-[.2em] pl-2 pr-2 text-xs backdrop-blur-lg  rounded-2xl border border-pink-200 bg-pink-200/20 transition-all duration-300 ease-in hover:bg-pink-400 hover:border-pink-400 hover:text-white">
                Quote
              </p>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 -mt-8 w-12 text-white z-10"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path d="M5 10h2V5h5V3H5zM11 10h2V5h5V3h-7z" />
            </svg>
            <h3 class="text-2xl pl-6 pr-6 pt-0 pb-6 uppercase leading-none text-gray-400 flex items-center z-10 ">
              <span>{post.quote}</span>
            </h3>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 w-12 -mb-4 text-white z-10"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path d="M5 10h2V5h5V3H5zM11 10h2V5h5V3h-7z" />
            </svg>
          </div>
        </div>
      ))
  }
</ul>

<style>
  h3 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
  p {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
  }
  .tag {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 8px;
  }
</style>
