---
import '@fontsource/rajdhani/600.css'
import '@fontsource/rajdhani/700.css'
---

<div class="w-full lg:mr-8">
  <ul
    class="flex justify-center gap-2 items-center h-screen lg:h-auto flex-col lg:flex-row lg:justify-end uppercase text-white text-6xl lg:text-xl"
  >
    <li class="px-3 py-1 hover:bg-white rounded-lg hover:text-black">
      <a href="/articles">Articles</a>
    </li>

    <li class="px-3 py-1 hover:bg-white rounded-lg hover:text-black">
      <a href="/blog">Blog</a>
    </li>

    <li class="px-3 py-1 hover:bg-white rounded-lg hover:text-black">
      <a href="/story">Story</a>
    </li>
    <li class="px-3 py-1 hover:bg-white rounded-lg hover:text-black">
      <a href="/feed">Feed</a>
    </li>
    <li class="px-3 py-1 hover:bg-white rounded-lg hover:text-black">
      <a href="/3d">3D</a>
    </li>
  </ul>
</div>

<style>
  a {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
  }
</style>
